body#tinymce.wp-editor{
	color: #6f6f6f;
	font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	line-height: 1.6;
}
body#tinymce.wp-editor a{
	color: #000;
}