/*
Theme Name: typos
Theme URI: http://github.com/jblackem/typos.git
Author: Brian Gisairo
Author URI: http://briangisairo.com/
Description: Typos theme based on the excellent Underscores Theme 
Version: 1.0
License: GNU General Public License
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: typos
Tags: Black, Brown, Two column, Fluid, Custom-header, featured-images, Custom-menu


Typos is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #6f6f6f;
	font-family: Arial, "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
    font-style: normal;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: none;
	text-rendering: auto;
	word-wrap: break-word; /*supports non breaking text correctly */
	-ms-word-wrap: break-word;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family:  "Quattrocento Sans";;
	font-style: normal;
	line-height: 1.2;
	text-rendering: auto;
	color: #97897C;
	margin:  0 0 1.0em 0;
}
h1{
	font-size: 30px;
	text-rendering: optimizeLegibility;
	color: #97897C;
}
h2{
	font-size: 28px;
	line-height: 1.1;	
}
h3{
	font-size: 26px;
	line-height: 1;
}
h4{
	font-size: 24px;
	line-height: 0.9;
}
h5{
	font-size: 22px;
	line-height: 0.8;
}
h6{
	font-size: 20px;
	line-height: 0.7;
}
hr {
	background-color: #d9d9d9;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: none;
}
li{
	position: relative;
}
.site-content ul li:before{
	content: "\f068";
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 6px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: -10px;
}

ol {
	list-style: decimal;
}
.site-content li > ol li:before{
	content: "";
}
.site-content li > ol li ul li:before{/*a bit of madness, hopefully there is a better way*/
	content: "\f068"; 
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
	color: #97897C;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	padding: 0 1.5em;
	position: relative;
	width: auto;
}
blockquote:before{
 	content: "\f10d"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: -10px;
    left: 0;
}
blockquote:after{
	  content: "\f10e"; 
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    bottom: -10px;
    right: 0;
}
blockquote.twitter-tweet:after,
blockquote.twitter-tweet:before{
	content: "";
}
q{
	quotes: "“" "”" "‘" "’";
}
q::before{
	content: open-quote;
}
q::after{
	content: close-quote;
}
address {
	margin: 0 0 1.5em;
	font-style: italic;
}
pre {
	background: #ede6df;
	font-family: "Inconsolata", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px "Inconsolata", Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #ede6df;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
	padding: 5px 0;
}
td{
	border-right: 1px solid #ede6df;
	padding-left: 5px;
}
tr{
	border-bottom: 1px solid #221f1f;
}
tr.odd{
	background: #ede6df;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */

}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0 none;
	background: #97897C;
	color: #fff;
	text-transform: uppercase;
	font-family: "Quattrocento Sans";
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	padding: .6em 1em .4em;
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	opacity: 0.9;
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	opacity: 0.8;
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #221f1f;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

header input[type="search"]{
	background: #000;
	border: none;
	border-bottom: 1px solid #d9d9d9;
	color: #fff;
}
header input[type="search"]:focus{
	color: #fff;
}
/* Links */
a {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #221f1f;
}
a:hover,
a:focus,
a:active {
	color:#221f1f;
	text-decoration: underline;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 80%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	margin: 4px 10px 4px 0;
	padding: 5px;
	font: 14px "Quattrocento Sans";
	text-transform: uppercase;
	color: #ffffff;
	border-bottom: 1px solid #000;
}
.main-navigation a:hover{
	border-bottom: 1px solid #fff;

	
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	opacity: 0;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
	border-bottom: 1px solid #d9d9d9;
}
.main-navigation li:hover, .main-navigation li:hover > a {
	background: #fff;
	color: #000;
	transition: all 0.5s ease;

}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
	background: #000;
	-webkit-transition: opacity 0.5s ease;
	opacity: 1.0;
	transition: all 0.5s ease;

}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	border-bottom: 1px solid #d9d9d9;
}


/*title*/
.site-title a {
	color: #97897C;
	text-decoration: none;
}

/* =Content
----------------------------------------------- */

.sticky {
	background: #ede6df;
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.page-links a{
	background: #97897C;
	display: inline-block;
	padding: 5px;
	color: #fff;
}
.entry-meta{
	color: #97897C;
}
.entry-meta span.edit-link{
	position: relative;
}
.site-main article.format-image{

}
.site-main article.format-video{

}
.site-main article.format-standard{

}
.site-main article.format-link{

}
.site-main article.format-quote{

}
.entry-content a.more-link{
	background: #97897C;
	display: inline-block;
	padding: 5px;
	color: #fff;
}
/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #d9d9d9;
	margin-bottom: 1.5em;
	max-width: 100%;
	background: #ede6df;
	-moz-box-shadow:    3px 3px 5px 1px #d9d9d9;
  -webkit-box-shadow: 3px 3px 5px 1px #d9d9d9;
  -o-box-shadow: 3px 3px 5px 1px #d9d9d9;
  box-shadow:         3px 3px 5px 1px #d9d9d9;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

label span.required{
	color: #b7b7b7;
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.nav-previous a, .nav-next a{
	background: #97897C;
	display: inline-block;
	padding: 0 5px;
	color: #fff;
}
.post-navigation a{
	background: #97897C;
	display: inline-block;
	padding: 5px;
	color: #fff;
}
/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

.comment-form label{
	min-width: 100px;
	display: inline-block;
}
.comment .reply a{
	display: inline-block;
	width: auto;
	background-color: #97897C;
	color: #fff;
	padding: 5px;
}
.comment .reply a:hover, .comment .reply a:focus{
	opacity: 0.9;
}
.comment .reply a:active{
	opacity: 0.8;
}
.comment{
	margin-bottom: 25px;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

.widget h1.widget-title{
	background: #97897C;
	display: block;
	padding: 5px;
	color: #fff;
	font-size: 18px;
	font-family: "Quattrocento Sans";
	text-transform: uppercase;
}
.widget ul{
	margin: 0;
	padding-left: 10px;
}
.widget li{
	position: inherit;
}
.widget td#next a,.widget td#prev a{
	background: #97897C;
	display: inline-block;
	padding: 0 5px;
	color: #fff;
}
/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* **************layouts ***** 
Layout: Content-Sidebar and theme
*/
body{
	margin: 0 15px;
	background: #ffffff;
}

#page{
	max-width: 990px;
	margin: 0 auto;
	padding: 0 5px;
}

header#masthead{
	background: #000000;
	margin: 0 0 35px 0; 
	padding: 0 0 25px 0;
}
header .site-branding{
	float: left;
	position: absolute;
	top: 25%;
}
header #search{
	float: right;
	margin-top: 10px;
}

.site-content{
	margin: 0 0 35px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dddddd;
}

.site-footer a{
	color: #fff;
}
.site-footer a:hover{
	border-bottom: 1px solid #fff;
	text-decoration: none;
}
/* layout */
.content-area {
	float: left;
	margin: 0 -25% 0 0;
	width: 100%;
}
.site-main {
	margin: 0 25% 0 0;
	padding: 0 10px 0 0;
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
	min-height: 90px;
	background: #000000;
	color: #ffffff;
	font-family: "Quattrocento Sans";
	font-size: 12px;
	padding: 25px 0 0 0;
}
/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
	.main-navigation li{
		float: none;
	}
	header .site-branding {
		top: 0;

	}
	header h1{
		font-size: 24px;
	}
	.site-content .content-area{
		width: 100%;
		float: none;
		margin: 0;
	}
	.site-content .site-main{
		margin: 0;
		padding: 0;
	}
	.site-content .widget-area{
		width: 100%;
		float: none;
		overflow: auto;
	}
}